<div class="container">
	<header class="clearfix">
		<span>
		  <%= link_to root_url() do %>
        <%= image_tag "logo2.png" %>
      <% end %>
		</span>
		<nav>
			<%if session[:user_id].present? %>
        <%= link_to signout_url(), class: "bp-icon bp-icon-archive" do %>
          <span>Logout</span>
        <% end %>
      <% end %>
		</nav>
	</header>
	<div class="row">
  	<div class="main span9">
  		<ul class="cbp_tmtimeline">
  		  <% @transactions.each do |transaction| %>
  		    <li>
  		      <time class="cbp_tmtime" datetime="<%= transaction.created_at %>"><span><%= transaction.created_at.strftime("%d %b %Y") %></span> <span><%= transaction.created_at.strftime("%H:%M") %></span></time>
  		      <div class="cbp_tmicon cbp_tmicon"></div>
  		      <div class="cbp_tmlabel">
  						<h2>€ <%= transaction.amount %> .00</h2>
  						<p><%= transaction.items %></p>
  					</div>
  		    </li>
  		  <% end %>
  		</ul>
  	</div>
  	<div class="span3">
    	<p class="demo-download-text">Welcome <%= @transactions.first.vendor.name %>!</p>
    	<div class="demo-download">
    	  <p>Total Revenue</p>
      	<h1>€<%= @transactions.sum(:amount) %>.00</h1>
    	</div>
  	</div>
	</div>
</div>
