<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Easy Pay</title>
		
		<!-- Loading CSS -->
		<%= stylesheet_link_tag "bootstrap.css", :media => "all" %>
		<%= stylesheet_link_tag "bootstrap-responsive.css", :media => "all" %>
		<%= stylesheet_link_tag "flat-ui.css", :media => "all" %>
		<%if session[:user_id].present? %>
  		<%= stylesheet_link_tag "default.css", :media => "all" %>
  		<%= stylesheet_link_tag "component.css", :media => "all" %>
		<% end %>
		<!-- Loading JS -->
		<%= javascript_include_tag "modernizr.custom.js" %>		
	</head>

  <body>

    <%= flash[:notice] %>
    <%= yield %>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">Subscribe</h3>
            <p>Want to get more stuff like this?<br/>
              Subscribe to Taggito news and updates to stay tuned on great NFC Solutions.<br/>
              Go to: <a href="http://taggito.com" target="_blank">taggito.com/blog</a>
            </p>
          </div> <!-- /span8 -->

          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">Get Events Promo</h3>
              <ul>
                <li>Nirvana in Heaven</li>
                <li>Pearl Jam in Brazil</li>
                <li>Bla Bla Bla</li>
              </ul>
              Go to: <a href="http://taggito.com/promo" target="_blank">taggito.com/promo</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
  <!-- Loading JS -->
  <%= javascript_include_tag "jquery-1.8.2.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.10.0.custom.min.js" %>
  <%= javascript_include_tag "jquery.dropkick-1.0.0.js" %>
  <%= javascript_include_tag "custom_checkbox_and_radio.js" %>
  <%= javascript_include_tag "custom_radio.js" %>
  <%= javascript_include_tag "jquery.tagsinput.js" %>
  <%= javascript_include_tag "bootstrap-tooltip.js" %>
  <%= javascript_include_tag "jquery.placeholder.js" %>
  <%= javascript_include_tag "application.js" %>
  <!--[if lt IE 8]>
    <%= javascript_include_tag "icon-font-ie7.js" %>
    <%= javascript_include_tag "icon-font-ie7-24.js" %>
  <![endif]-->
</html>
